.alert1 {
  background-color: #c5e2fd;
  border-color: #c5e2fd;
  color: #5789b7;
}

.alert-info1 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  background-color: #c5e2fd;
  border-color: #c5e2fd;
  color: #5789b7;
}
